/* Ensure Tailwind directives are included if using Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
#navbar {
  padding: 2rem;
}
#menuBtn {
  top: 14px;
  right: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

#logo {
  @media screen and (min-width: 768px) {
    margin-right: auto;
    left: 8rem;
  }
}
#DesktopMenu {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}
#DesktopMenuBtn {
  padding: 0.5rem 1rem;
  border-radius: 40px;
}
#DesktopMenuBtn:hover {
  padding: 0.5rem 1rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}

#MobileMenu {
  display: none;
  right: 10px;
  top: 60px;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity, 1));
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  z-index: 99999;
}
