/* Ensure Tailwind directives are included if using Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#mobileMenu {
  transition: all 0.3s ease-in-out;
  @apply lg:flex flex-col lg:flex-row fixed lg:static top-16 right-0 bg-slate-400 lg:bg-transparent w-48 p-4 lg:p-0 space-y-2 lg:space-y-0 lg:space-x-6;
}

#menuIcon {
  transition: transform 0.3s ease;
}

@media (min-width: 1024px) {
  #mobileMenu {
    display: flex !important;
  }
}

#menuBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

nav {
  transition: all 0.3s ease;
}

nav.scrolled {
  background-color: rgba(
    148,
    163,
    184,
    0.9
  ); /* Slightly transparent on scroll */
  backdrop-filter: blur(5px);
}
